.link {
    width:15rem;
    max-width: 15rem;
    min-height: 3rem;
    text-decoration: none;
    background-color: #A4C2DB;
    border-radius: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: 0.2s;
    margin-left: ;
    margin-right: 0px;
    margin-bottom: 0.5rem;
}

.link:hover {
    background-color: #E4F0FB;
    transition: 0.2s;
}

.img {
    margin-left: 0.5rem;
    width: 2rem;
    padding: 0;
}

.linkText {
    color: #356285;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 600;
}

